body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f4fa;
  color: #212121;
}

/* header */
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.logo-first-part {
  color: #2196f3;
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.link-nav-item {
  text-decoration: none;
  color: #212121;
}

.link-nav-item:hover {
  color: #2196f3;
}

.link-nav-item:focus {
  color: #2196f3;
}

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}

.contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  text-decoration: none;
}

.contact-item:hover {
  color: #2196f3;
}

.contact-item:focus {
  color: #2196f3;
}
/* main section */
.hero-section {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

/* peculiarities section */

.title-peculiarities {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.text-peculiarities {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

/* what we do section*/
.what-we-do-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

/*our team section*/
.our-team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.our-team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.our-team-text {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

/* footer */
.footer {
  background-color: #2f303a;
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  text-decoration: none;
}

.address-item-first {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.address-item-second {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff90;
  text-decoration: none;
}

/* portfolio page*/

.link-nav--portfolio-item {
  color: #2196f3;
  text-decoration: none;
}

.portfolio-buttons-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.portfolio-button {
  cursor: pointer;
}

.portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-button:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
